{% extends "layout.html" %}
{% block content %}

    <h1>About Roman Digits Classifier</h1>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    * {box-sizing: border-box}

    .container {
    width: 100%;
    background-color: #ddd;
    }

    .accuracy {
    text-align: right;
    padding: 10px;
    color: white;
    }

    .train {width: 99.40649271%; background-color: #4CAF50;}
    .test {width:  99.26757812%; background-color: #2196F3;}
    </style>

    <body>  

    <h1>Prediction accuracy</h1>
    
    <p>Train</p>
    <div class="container">
        <div class="train accuracy"> 99.40649271%</div>
    </div>
    
    <p>Test</p>
    <div class="container">
        <div class="test accuracy">99.26757812%</div>
    </div>
    
    </body>    
    
{% endblock content %}