{% extends "layout.html" %}
{% block content %}

	<section id="home" class="video-hero" style="height: 500px; background-image: url(images/cover_img_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home"> 
		<div class="overlay"></div>
			<a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=V5wB4TEWy8Y&list=PLGmxyVGSCDKvmLInHxJ9VdiwEb82Lxd2E&index=44',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a> 
				<div class="display-t display-t2 text-center">
					<div class="display-tc display-tc2">
						<div class="container">
							<div class="col-md-12 col-md-offset-0">
								<div class="animate-box">
									<h2>Contact</h2>
									<!--<p class="breadcrumbs"><span><a href="index.html">Home</a></span> <span>Services</span></p>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
				<div class="row">
					<div class="col-md-3 text-center animate-box">
						<div class="staff-entry">
							<a href="#" class="staff-img" style="background-image: url(static/images/myPhoto.jpg);"></a>
							<div class="desc">
								<h3>Pavlo Pyvovar</h3>
								<span>Data Scientist</span>
								<p>Kyiv, Ukraine</p>
								<p>
									<ul class="colorlib-social-icons">
										<li><a href="#"><i class="icon-twitter"></i></a></li>
										<li><a href="https://www.facebook.com/pyvovarpavlo"><i class="icon-facebook"></i></a></li>
										<li><a href="#"><i class="icon-linkedin"></i></a></li>
										<li><a href="#"><i class="icon-dribbble"></i></a></li>
									</ul>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 text-center animate-box">
						<div class="staff-entry">
							<a href="#" class="staff-img" style="background-image: url(images/person2.jpg);"></a>
							<div class="desc">
								<h3>Adam Morris</h3>
								<span>Developer</span>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
								<p>
									<ul class="colorlib-social-icons">
										<li><a href="#"><i class="icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-facebook"></i></a></li>
										<li><a href="#"><i class="icon-linkedin"></i></a></li>
										<li><a href="#"><i class="icon-dribbble"></i></a></li>
									</ul>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 text-center animate-box">
						<div class="staff-entry">
							<a href="#" class="staff-img" style="background-image: url(images/person3.jpg);"></a>
							<div class="desc">
								<h3>Noah Nelson</h3>
								<span>Designer</span>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
								<p>
									<ul class="colorlib-social-icons">
										<li><a href="#"><i class="icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-facebook"></i></a></li>
										<li><a href="#"><i class="icon-linkedin"></i></a></li>
										<li><a href="#"><i class="icon-dribbble"></i></a></li>
									</ul>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 text-center animate-box">
						<div class="staff-entry">
							<a href="#" class="staff-img" style="background-image: url(images/person4.jpg);"></a>
							<div class="desc">
								<h3>Dorothy Murphy</h3>
								<span>Designer</span>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
								<p>
									<ul class="colorlib-social-icons">
										<li><a href="#"><i class="icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-facebook"></i></a></li>
										<li><a href="#"><i class="icon-linkedin"></i></a></li>
										<li><a href="#"><i class="icon-dribbble"></i></a></li>
									</ul>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock content %}
